body{
    font-family: dancing script, cursive;
    text-align: center;
    background: linear-gradient(to right, #8fa8d8, #e08bba);
}

.container{
    margin: 50px auto;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    animation: zoomIn 1s;
}

h1{
    font-size: 3em;
    margin-bottom: 20px;
    animation: fadeInDown 1s;
}

p{
    font-size: 1.5em;
}

.celebration{
    font-size: 2em;
    margin-bottom: 20px;
    animation: fadeInUp 1s;
}

.balloons{
    margin-top: 20px;
    position: relative;
}

.balloon{
    display: inline-block;
    width: 50px;
    height: 70px;
    background-color: #ff4500;
    border-radius: 50% 50% 25% 25%;
    position: relative;
    animation: float 3s ease-in-out infinite;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.balloon::after{
    content: '';
    display: block;
    width: 2px;
    height: 50px;
    background-color: #000;
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.confetti{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #FFD700;
    top: 0;
    left: 50%;
    opacity: 0;
    animation: fall 3s infinite;
}

.container > a{
    list-style-type: none;
    font-weight: 600;
    font-size: 28px;
    color: green;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes fall {
    0% {
        transform: translateY(-200px);
        opacity: 1;
    }
    100% {
        transform: translateY(800px);
        opacity: 0;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.celebration-icon{
    font-size: 4em;
    color: #FFD700;
    animation: spin 2s infinite linear;
    margin-bottom: 20px;
}